.inner{
    position: relative;
}

.header-left{
    color:rgb(2, 2, 106);
}

.header-right{
    position: absolute;
    top: 20px;
    right: 10px;
}

.header-nav-list{
    display: flex;
}

.header-nav-item{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(3, 3, 105);
    margin-right: 30px;
}

.main{
    position: relative;
}

img{
    position: absolute;
    height: auto;
    width: 50vw;
    right: -8px;
    z-index: 0;
}

.main-text{
    font-size: 5vw;
    font-weight: lighter;
    position: absolute;
    top: 15vw;
}
.square{
    background: rgb(4, 4, 167);
    height: 13vw;
    width: 80%;
    position: absolute;
    left: -8px;
    top: 25vw;
    z-index: -1;
}